<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define LOGSTASH destination, bisa dari environment -->
    <springProperty name="LOGSTASH_HOST" source="LOGSTASH_HOST" defaultValue="localhost:5000"/>

    <!-- Console Appender (standard output) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash Appender (optional, untuk kirim ke logstash) -->
    <appender name="Logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Logger for Application -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="Logstash"/>
    </root>

</configuration>
